<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="false" />
  </system.web>
  
  <system.webServer>

    <rewrite>
      <rules>

        <!-- 301 force non-www canonical host -->
        <rule name="Force non-www" enabled="true" stopProcessing="true" xdt:Transform="Insert">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.jaredthenyctourguide\.com$" ignoreCase="true" />
          </conditions>
          <action type="Redirect"
                  url="https://jaredthenyctourguide.com/{R:1}"
                  appendQueryString="true"
                  redirectType="Permanent" />
        </rule>

        <!-- 301 force https -->
        <rule name="Force HTTPS" enabled="true" stopProcessing="true" xdt:Transform="Insert">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect"
                  url="https://jaredthenyctourguide.com/{R:0}"
                  appendQueryString="true"
                  redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>

</configuration>