<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="SetAttributes" debug="false" />
  </system.web>
  
  <system.webServer>

    <rewrite>
      <rules>

        <!-- 301 force https -->
        <rule name="Force HTTPS" enabled="true" stopProcessing="true" xdt:Transform="Insert">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect"
                  url="https://{HTTP_HOST}{REQUEST_URI}"
                  appendQueryString="false"
                  redirectType="Permanent" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>

</configuration>